initial/src/main/resources/static/angular/Akt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="http://www.xmlProjekat.com/akt" xmlns:ak="http://www.xmlProjekat.com/akt">

    <xs:element name="Akt">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="Podnosilac" type="xs:string"/>
                <xs:element name="Deo" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Glava" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Odeljak" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:choice maxOccurs="1">
                                                  <xs:sequence>
                                                  <xs:element name="Clan" maxOccurs="unbounded">
                                                  <xs:complexType>
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  <xs:element name="Stav">
                                                  <xs:complexType>
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  <xs:element name="Tacka">
                                                  <xs:complexType>
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  <xs:element name="Podtacka">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Alineja" type="ak:SadrzajTip"> </xs:element>
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:sequence>
                                                  <xs:element name="Pododeljak"
                                                  maxOccurs="unbounded">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="Clan" maxOccurs="unbounded">
                                                  <xs:complexType>
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  <xs:element name="Stav">
                                                  <xs:complexType>
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  <xs:element name="Tacka">
                                                  <xs:complexType>
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  <xs:element name="Podtacka">
                                                  <xs:complexType mixed="true">
                                                  <xs:choice maxOccurs="unbounded">
                                                  <xs:element name="Alineja" type="ak:SadrzajTip"> </xs:element>
                                                  <xs:element name="Sadrzaj" type="ak:SadrzajTip"/>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:choice>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:attribute name="Id" type="xs:int"
                                                  use="required"/>
                                                  <xs:attribute name="Naslov" type="xs:string"/>
                                                  <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                </xs:choice>
                                                <xs:attribute name="Id" type="xs:int" use="required"/>
                                                <xs:attribute name="Naslov" type="xs:string"/>
                                                <xs:attribute name="RedniBroj"
                                                  type="xs:positiveInteger"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Id" type="xs:int" use="required"/>
                                    <xs:attribute name="Naslov" type="xs:string"/>
                                    <xs:attribute name="RedniBroj" type="xs:positiveInteger"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Id" type="xs:int" use="required"/>
                        <xs:attribute name="Naslov" type="xs:string"/>
                        <xs:attribute name="RedniBroj" type="xs:positiveInteger"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="DatumPodnosenja" type="xs:date" use="required"/>
            <xs:attribute name="Tip" type="xs:string"/>
            <xs:attribute name="SluzbeniGlasnik" type="xs:string"/>
            <xs:attribute name="Status" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Usvojen"/>
                        <xs:enumeration value="U proceduri"/>
                        <xs:enumeration value="Odbijen"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Id" type="xs:int" use="required"/>
            <xs:attribute name="Naslov" type="xs:string"/>
            <xs:attribute name="RedniBroj" type="xs:positiveInteger"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType mixed="true" name="SadrzajTip">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Referenca">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="ReferencaURI" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
